#container{
}

div.right-panel{
  position: absolute;
  right:20px;
  width: 150px;
  background-color: #AAAAAA;
  opacity: 0.8;
  border-radius: 15px;
}

div#add-panel{
  top: 15px;
}

div#control-panel{
  top: 60px;
}

div#details-wrapper{
  bottom:30px;
}

.control-wrapper{
  margin:10px;
}

li.selected{
  background-color: #808080;
}


input#scale{
  width: 60%;
}

.collapsed{
  height:50px;
  overflow: hidden;
}
